@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] { display: none !important; }
.auto-resize-input {
    width: auto;
    max-width: 100%;
    box-sizing: content-box;
}

.label {
    height: auto !important;
}

.navbarBorder {
    border-bottom-width: 2px;
    border-color: black;
}

.sidenavBorder {
    border-right-width: 2px;
    border-color: black;
}

.appbg {
    background-color: #eaf8ff !important;
}

.navbarbg {
    background-color: #FCFDAF     ;
}

.buttonBorder {
    border-width: 1px;
    border-color: #390040;
}


.wireui-select .wireui-label {
    height: auto !important;
    min-height: unset !important;
}
.toast {
  opacity: 1 !important;            
  color: white !important;             
}

[x-data="wireui_select"] li:hover {
    background-color: #e0f2fe !important;
    color: #1e293b !important;
}

[x-data="wireui_select"] li[aria-selected="true"] {
    background-color: #bfdbfe !important;
    font-weight: 600;
}

[x-data="wireui_select"] li:hover {
    @apply text-override-black !important;
}

[x-data="wireui_select"] li:hover {
    color: #000000 !important;
}

li.hover\:text-white:hover {
    color: #000 !important;
}

.scrollBarThin {
    scrollbar-width: thin;
}